.job-container {
  display:  flex;
  padding: .5em;
  gap: 5px;
  border-bottom: 2px solid black;
  div{
    font-size: .9em;
    display: flex;
    width: 95px;
    justify-content: center;
    align-items: center;
  }
  .job-hora{
    width: 35px
  }
}