.card-box, .card-date, .card-detele, .card-prices, .card-box__link, .card-link{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card-box{
    position: relative;
    display: grid;
    grid-template-rows: 30px 210px;
    background-color: #1D1F20;
    border-radius:15px;
    box-shadow: 2px 2px 3px #55c265;
    transition: box-shadow .4s;
    width: 350px;
}

@media (hover:hover){
    .card-box:hover{
        box-shadow: none;
    }
}


.card-link{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #55c265;
    border-radius: 15px 15px 0 0;
    grid-row: 1/2;
    width: 100%;
    min-height: 30px;
    transition: background-color .8s;
    transition: color .8s;
}
@media (hover:hover){
    .card-link:hover{
        color: #55c265;
        background-color:white; 
    }
}


.card-box__link{
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 120px 230px;
    color: white;
    text-decoration: none;
}

.card-title{
    font-size: 1em;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    align-self: baseline;
}

.card-img{
    display: block;
    justify-self: left;
    grid-column: 1/2;
    grid-row: 1/4;
    height: 210px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    background-color: white;
    border-radius: 0 0 0 15px;
}

.card-description{
    font-size: .8em;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0 .5em;
    align-self: flex-end;
    text-align: left;
}

.card-prices{
    gap: 5px;
    text-align: center;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: left;
    align-self: flex-start;
    margin: 0 0 0 1em;   
    font-size: .8em;
}

.previus-price{
    text-decoration: line-through;
}

.card-readMore{
    font-size: 1.1em;
    font-style: italic;
    font-weight: bold;
}

.card-date{
    justify-self: right;
    align-self: flex-start;
    margin: 0 1em 0 0;
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: .8em;
}
