.jobContainer-container, .jobContainer-total{
  display: grid;
  grid-template-columns: 120px 120px 50px 30px 30px;
  font-size: .8em;
  font-weight: bold;
  margin-bottom: 1em;
  div {
    justify-self: center;
  }
  select {
    border: none;
    outline: none;
    font-weight: bold;
    font-size: .9em;
    text-align: left;
  }
}
.jobContainer-total {
  div {
    justify-self: center;
  }
  div.hours {
    grid-column: 3/4;
  }
  div.text {
    grid-column: 1/3
  }
  
}