.jobContainer-container, .jobContainer-total{
  display: grid;
  grid-template-columns: 150px 150px 50px;
  font-size: .9em;
  font-weight: bold;
  margin-bottom: 1em;
  div {
    justify-self: center;
  }
  select {
    border: none;
    outline: none;
    font-weight: bold;
    font-size: .9em;
    text-align: center;
    background-color: #293133;
    padding: .7em 0;
    color: white;
    font-weight: bold;
    border-radius: 5px;
  }
}

.jobContainer-container {
  background-color: #293133;
  align-items: center;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  width: 360px;
}

.jobContainer-total {
  div {
    justify-self: center;
  }
  div.hours {
    grid-column: 3/4;
  }
  div.text {
    grid-column: 1/3
  }
  
}