.signOut-button {
  border: none;
  border-radius: 5px;
  padding: .5em;
  background-color: rgb(192, 85, 85);
  font-weight: bold;
  color: white; 
  cursor: pointer;
  width: 100%;
  margin-top: 1em;
}