.user-data__container{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    border-bottom: 2px solid white;
    width: 100%;
    padding: .5em;
    font-size: 1.2em;
}

.user-body{
    padding-left: .5em;
}

.user-name__link{
    text-decoration: none;
    color: white;
}

.user-name__icon, .user-name__linkImg, .user-name__buttonImg{
    max-width: 25px;
}

.user-lastIcon{
    text-align: right;
}

.user-name__button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}
