.popUp{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #1d1f2079;
    backdrop-filter: blur(5px);
    top: 170px;
    left: 0;
    width: 100%;
    height: calc(100% + 170px);
}

.closePopUp{
    position: absolute;
    cursor: pointer;
    position: absolute;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    padding: .2em;
    color: #55c265;
    font-size: 2em;
    top: 15px;
    right: 15px;
    transition: background-color, color .5s;
}

@media(hover:hover){
    .closePopUp:hover{
        background-color: #1D1F20;
        color: white;
    }
}

@media screen and (min-width: 800px){
    .popUp{
        top: 75px;
        height: 95%;
    }
    .closePopUp{
        top: 15px;
    }
}

