.header {
  position: fixed;
  background-color: white;
  bottom: 0;
  width: 100%;
  display:  flex;
  justify-content: space-around;
  align-items: center;
  padding: .5em 0;
  border-top: 5px solid red;
  z-index: 10;
  @media screen and (min-width: 480px) {
    border-top: none;
    border-bottom: 2px solid red;
    bottom: auto;
    top: 0;
  }
  img{
    max-width: 100px;
  }
  a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}