.notification-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 165px;
    left: 0;
    width: 100vw;
    height: 50px;
    color: white;
}

@media  screen and (min-width: 800px){
    .notification-container{
        top: 70px;
    }
}

.green{
    background-color: #55c265; 
}

.red{
    background-color: red;
}

