.form-container {
  width: 350px;
  form {
    display:  flex;
    flex-direction: column;
    gap: 25px;
  }
  input {
    border: none;
    border-bottom:2px solid black;
    outline: none;
    font-weight: bold;
  }
}