.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.spinner{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid #55c265;
    background: transparent;
    border-top-color: white ;
    border-bottom-color: white;
    border-left-color: #55c265;
    animation: spin 1.5s linear infinite;
    position: relative
}

@keyframes spin{
    0%{
        background: transparent;
        transform: rotate(720deg);
    }
}